@charset "UTF-8";

body{
    background-color: rgb(223, 158, 158);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(66, 66, 218);
    background-color: rgb(34, 77, 156);
}
h2{
    color: maroon;
}
p{
    text-align: justify;
}